<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sub Categories</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="addSubCategoryModal()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>List of Sub-Categories</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <!-- with index list -->
        <ion-item *ngFor="let sub of subCategories; let i = index">
          <ion-label>{{i + 1}}. {{ sub.name }}</ion-label>
          <ion-button (click)="edit(sub)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>

          <ion-button (click)="confirmDelete(sub)" color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
