<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Users</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="addUserModal()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list style="border-radius: 5px; padding-left: 10px;">
    <ion-item *ngFor="let item of users">
      <ion-avatar slot="start">
        <img src="https://ui-avatars.com/api/?name={{ item.name }}" />
      </ion-avatar>
      <ion-label> {{ item.name }} </ion-label>
      <small>{{ item.role }}</small>
      <!-- button edit -->
      <ion-button color="primary" size="small" (click)="editUserModal(item)" style="margin-left: 40px;">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

      <!-- button delete -->
      <ion-button color="danger" size="small" (click)="confirmDelete(item)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
