<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!-- Dashboard -->
      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/admin/dashboard" routerDirection="root">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <!-- Produk -->
      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/admin/products" routerDirection="root">
          <ion-icon name="pricetag-outline" slot="start"></ion-icon>
          <ion-label>Produk</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <!-- Kategori -->
      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/admin/categories" routerDirection="root">
          <ion-icon name="list-outline" slot="start"></ion-icon>
          <ion-label>Kategori</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/admin/subcategory" routerDirection="root">
          <ion-icon name="list-outline" slot="start"></ion-icon>
          <ion-label>Sub Kategori</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <!-- Pesanan -->
      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/admin/orders" routerDirection="root">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          <ion-label>Pesanan</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <!-- Pengguna -->
      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/admin/users" routerDirection="root">
          <ion-icon name="people-outline" slot="start"></ion-icon>
          <ion-label>Pengguna</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>


    <!-- logout in btomm -->
    <ion-button expand="block" fill="clear" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Logout
    </ion-button>
  </ion-content>
</ion-menu>
<div id="main-content">
  <router-outlet></router-outlet>
</div>

<!-- Main content -->
