<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of data" size="12">
        <ion-list style="border-radius: 5px;">
          <!-- thumbnail, title and status order -->
          <ion-row>
            <ion-col size="12" style="padding-left: 10px; padding-right: 10px;">
              <ion-item (click)="orderDetail(item)">
                <ion-thumbnail slot="start">
                  <img alt="Silhouette of mountains" src="{{ handleImage(item.products[0].image) }}"
                    style="border-radius: 5px;" />
                </ion-thumbnail>
                <ion-label>
                  <h1 class="font-bold">{{ item.products[0].name }}</h1>
                  <!-- total product secondary color-->
                  <small color="dark">+{{ item.products.length - 1 }} produk lainnya</small>
                </ion-label>
                <br>
                <ion-badge slot="end" [color]="item.status === 'completed' ? 'success' : 'warning'">
                  {{ item.status }}
                </ion-badge>
              </ion-item>
            </ion-col>
    
            <ion-col size="12" style="padding-left: 10px;">
              <ion-item>
                <ion-label>
                  <h5 class="font-bold">Total</h5>
                  <small color="dark">{{ totalItem(item.total_amount) | currency: 'Rp': 'symbol' }}</small>
                </ion-label>
    
                <!-- button order detail -->
    
                <!-- accept order -->
                <ion-button color="success" size="small" (click)="acceptOrder(item)"
                  *ngIf="item.status === 'pending'">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-button>
    
                <!-- decline -->
                <ion-button color="danger" size="small" (click)="declineOrder(item)"
                  *ngIf="item.status === 'pending'">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
    
                <!-- shipping -->
                <ion-button color="primary" size="small" *ngIf="item.status === 'processing'"
                  (click)="sendOrder(item)">
                  <ion-icon name="car-outline"></ion-icon>
                  &nbsp;Kirim Pesanan
                </ion-button>
    
                <!-- arrived -->
                <ion-button color="success" size="small" *ngIf="item.status === 'on delivery'"
                  (click)="arrivedOrder(item)">
                  <ion-icon name="checkmark-outline"></ion-icon>
                  &nbsp;Pesanan Tiba
                </ion-button>
    
                <ion-button color="primary" size="small" (click)="orderDetail(item)" style="margin-left: 20px;">
                  <ion-icon name="eye-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
