<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Products</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="addProductModal()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of data" size="6">
        <ion-card>
          <img alt="{{ item.name }}" src="{{ handleImage(item.image) }}" class="r-img fixed-image" />
          <ion-card-header>
            <h4 class="ion-text-center font-bold ion-text-wrap" color="secondary">
              {{ item.name }}
            </h4>
          </ion-card-header>
          <!-- hr tailwind -->
          <hr class="border-b-2 border-gray-400" />
          <ion-card-content>
            <!-- price idr Rp. currency with box -->
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-text color="primary" class="font-bold">
                  {{ item.price | currency: 'Rp': 'symbol' }}
                </ion-text>
              </ion-col>
    
              <ion-col class="ion-text-center" size="6">
                <ion-text class="font-bold">
                  Stock: {{ item.stock }}
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
    
          <ion-row>
            <!-- edit product -->
            <ion-col class="ion-text-center" size="6">
              <ion-button color="primary" size="block" (click)="editProductModal(item)">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
            </ion-col>
    
            <!-- delete product -->
            <ion-col class="ion-text-center" size="6">
              <ion-button color="danger" size="block" (click)="confirmDeleteProduct(item.id)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
    
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
