<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Keranjang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content *ngIf="data">
      <div *ngIf="data.carts.length > 0; else emptyCart">
        <ion-list *ngFor="let item of data.carts">
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="item.product.name" src="{{ handleImage(item.product.image) }}">
            </ion-thumbnail>
            <ion-label>
              <h2>{{ item.product.name }}</h2>
              <small>{{ item.product.price | currency: 'Rp': 'symbol' }} per item</small>
            </ion-label>
          </ion-item>
          <ion-item><!-- quantity -->
            <ion-buttons>
              <ion-button color="primary" size="small" (click)="decreaseQuantity(item)">
                <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
              </ion-button>
              <ion-button color="primary" size="small" disabled="true" id="product-{{ item.product.id }}">
                {{ item.quantity }}
              </ion-button>
              <ion-button color="primary" size="small" (click)="increaseQuantity(item)">
                <ion-icon slot="icon-only" name="add-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <!-- button remove -->
            <ion-button slot="end" color="danger" size="small" (click)="removeFromCart(item)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </div>

      <ng-template #emptyCart>
        <p class="ion-text-center">Belum ada Barang di Keranjang</p>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <!-- bottom total price -->
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-text color="primary" class="font-bold">Total Price</ion-text>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-text color="primary" class="font-bold"> {{ data?.total | currency: 'Rp': 'symbol' }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- button place order -->
  <ion-button expand="block" color="primary" (click)="modalPlaceOrder()" style="margin:16px;"
    [disabled]="placeOrderDisabled">
    Place Order
  </ion-button>
</ion-content>