.profile-image {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    /* Adjust the size as needed */
    height: 150px;
    /* Adjust the size as needed */
    object-fit: cover;
}