<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="data">
    <ion-row>
      <ion-col size="6" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Total Produk</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>{{ data.total_produk }}</h2>
            <p>Jumlah produk yang tersedia di toko</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Pesanan Baru</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>{{ data.pesanan_masuk | number }}</h2>
            <p>Pesanan yang belum diproses</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Total Pengguna</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>{{ data.total_pengguna | number }}</h2>
            <p>Pengguna terdaftar di aplikasi</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Penghasilan Bulanan</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- <h2>Rp 10,000,000</h2> -->
            <h2>{{ toLocalePemasukan(data.pemasukan_month) }}</h2>
            <p>Penghasilan untuk bulan ini</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Row kedua untuk menampilkan grafik penjualan -->
    <!-- <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Grafik Penjualan Bulanan</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas id="salesChart"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->

    <!-- Row ketiga untuk menampilkan aktivitas terbaru -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Aktivitas Terbaru</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contoh tabel aktivitas terbaru -->
            <ion-list *ngFor="let order of data.transaksi_terakhir">
              <ion-item>
                <ion-label>
                  <h2>Pesanan #{{ order.id }}</h2>
                  <p>Jumlah Produk: {{ order.products.length}}</p>
                  <p>Status: {{ order.status }}</p>
                </ion-label>
                <ion-note slot="end" color="primary">{{ sinceTime(order.created_at)}}</ion-note>
              </ion-item>
              <!-- <ion-item>
                <ion-label>
                  <h2>Pengguna Baru</h2>
                  <p>Nama: John Doe</p>
                  <p>Email: john&#64;example.com</p>
                </ion-label>
                <ion-note slot="end" color="primary">10 Menit Lalu</ion-note>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h2>Pesanan #1022</h2>
                  <p>Produk: Smartphone</p>
                  <p>Status: Selesai</p>
                </ion-label>
                <ion-note slot="end" color="primary">30 Menit Lalu</ion-note>
              </ion-item> -->
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Row keempat untuk menampilkan tabel pesanan terbaru -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Pesanan Terbaru</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contoh tabel pesanan terbaru -->
            <ion-list *ngFor="let order of data.transaksi_terakhir">
              <ion-item>
                <ion-label>
                  <h2>Pesanan #{{order.id}}</h2>
                  <p>Jumlah Produk: {{order.products.length}}</p>
                  <p>Status: {{order.status}} </p>
                </ion-label>
                <ion-button fill="outline" slot="end" (click)="modalDetailOrder(order)">Detail</ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
